
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container-appear {
    animation: slideInFromLeft 1s ease-out forwards;
}

.image-top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6em;
    margin-left: 3em;
    width: 25%;
    border-radius: 20px;
    animation: slideInFromRight 4s ease-out forwards;
    border: 5px solid black;
    z-index: 1;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 3em;
}

.overlay-text-l {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    z-index: 2;
    margin-right: -3em;
    padding-left: 1em;
}

.overlay-text-l > #sentence-1-l  {
    color: #1e3cff;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}


.sentence-2-l {
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: 45px;
}

#s-1-l {
    margin-top: 2.5em;
    margin-left: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
}

#s-1-l > p {
    color: black;
    text-align: left;
}


.image-wrapper, .background-wrapper {
    position: relative;
}

#img-1 {
    opacity: 0.7;
}

#phoneNumber-l {
    border: 5px solid dodgerblue;
    border-radius: 100px;
    font-weight: bold;
    color: dodgerblue;
    font-size: 105px;
    padding : 7px 25px;
    width: auto;

    display: flex;
    flex-direction: row;
}

#phoneNumber-l > p {
    margin : 0;
}

#bluep {
    margin-top: 0.1225em;
    margin-left: 0.1em;
    height: 100px;
    width: 100px;
}

#headerBar-l {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    width: 100%;
}