

#headerBar-l {
    position: sticky;
    top: 0;
    color: dodgerblue;
    display: flex;
    flex-direction: row;
    padding-left: 10em;
    z-index: 10;
    background-color: white;
}

header li {
    font-weight: 700;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;

    list-style: none;
    display: inline-block;
    padding: 0 20px 0.25em;
    transition: background-color 0.3s, color 0.3s;
}

#headerBar-l ul li:hover {
    color: white;
    background-color: dodgerblue;
    border-radius: 20px;
}


#nav-menu-l > nav > ul {
    margin-top: 3.5em;
    font-weight: bold;

    border-radius: 20px;
}

#header-button-l {

    margin: 4em 2em 2em;
    text-transform: uppercase;
    color: dodgerblue;
    background-color: transparent;
    border: 2px solid blue;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#headerBar-l > div > button:hover {
    background-color: dodgerblue;
    color: white;
}


#title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
}

#title-1-l {
    padding-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}

#title-2-l {
    margin-right: 12.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

#title-3-l {
    margin-right: 17em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}
