@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container-appear {
    animation: slideInFromLeft 1s ease-out forwards;
}

.image-top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6em;
    margin-left: 3em;
    width: 25%;
    border-radius: 20px;
    animation: slideInFromRight 4s ease-out forwards;
    border: 5px solid black;
    z-index: 1;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay-text-s {
    position: absolute;
    top: 19%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    z-index: 2;
    margin-right: -3em;
    padding-left: 1em;


}

.overlay-text-s > #sentence-1-s  {
    color: white;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin-top: 5em;
}

.sentence-2-s {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 45px;
}

#s-1-s {
    margin-top: 10em;
    margin-left: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
}

#s-1-s > p {
    color: white;
    text-align: left;
}

.image-wrapper, .background-wrapper {
    position: relative;
    background-color: black;
}

#img-1-s {
    opacity: 0.5;
    width: 100%;
}

#phoneNumber-s {
    border: 5px solid dodgerblue;
    border-radius: 100px;
    font-weight: bold;
    color: dodgerblue;
    font-size: 50px;
    padding : 7px 25px;
    width: auto;

    display: flex;
    flex-direction: row;

    background-color: white;
}

#phoneNumber-s > p {
    margin : 0;
}

#bluep-s {
    margin-top: 0.1225em;
    margin-left: 0.1em;
    height: 50px;
    width: 50px;
}
#infiny-img-s {
    width: 300px;
    height: 180px;
    object-fit: cover;
}



#headerBar-s {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    width: 100%;
}

#p1-s {
    margin-top: 0;
}