

#headerBar-p {
    position: sticky;
    color: dodgerblue;
    display: flex;
    flex-direction: row;
    margin-left: 10em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px 0.25em;
    transition: background-color 0.3s, color 0.3s;
}

header li:hover {
    color: white;
    background-color: dodgerblue;

    border-radius: 20px;
}

#header ul {
    margin-top: 5.5em;
//padding-top: 5em;
    font-weight: bold;

    border-radius: 20px;

}

#header button {

    margin: 5em 2em 2em;

    text-transform: uppercase;
    color: dodgerblue;
    background-color: transparent;
    border: 2px solid blue;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: dodgerblue;
    color: white;
}


#title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
}

#title-1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

#title-2 {
    margin-right: 12.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

#title-3 {
    margin-right: 17em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}
#s-2 {
    color: black;
}
