@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container-appear {
  animation: slideInFromLeft 1s ease-out forwards;
}

.image-top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2em;
  margin-left: 3em;
  width: 25%;
  border-radius: 20px;
  animation: slideInFromRight 4s ease-out forwards;

  border: black;
  border-style: solid;
  border-width: 5px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 3em;
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  color: white;
  font-weight: bold;
  text-shadow:
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px  2px 0 #000,
          2px  2px 0 #000,
          -1px -2px 0 #000,
          1px -2px 0 #000,
          -2px -1px 0 #000,
          2px -1px 0 #000,
          -2px  1px 0 #000,
          2px  1px 0 #000,
          -1px  2px 0 #000,
          1px  2px 0 #000;
}



#s-1 {
    color: dodgerblue;
    font-weight: bold;
    margin-left: 1em;
}

#s-2 {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: black;
    font-weight: bold;
}

#s-1 > p {
    color: black;
    text-align : left;
}


#s-2 ul {
    list-style-type: none;
}
