/* Ajout de l'animation */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container-appear {
  animation: slideInFromLeft 1s ease-out forwards;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 3em;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  font-weight: bold;
}

img {
  opacity: .75;
}
