@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container-appear {
    animation: slideInFromLeft 1s ease-out forwards;
}

.image-top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6em;
    margin-left: 3em;
    width: 25%;
    border-radius: 20px;
    animation: slideInFromRight 4s ease-out forwards;
    border: 5px solid black;
    z-index: 1;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay-text-p {
    position: absolute;
    top: 19%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    z-index: 2;
    margin-right: -3em;;
}

.overlay-text-p > #sentence-1-p  {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 4vh;
}

.overlay-text-p > p  {
    font-weight: bold;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 4vh;
    margin: 0;
}

.sentence-2-p {
    font-family: Montserrat, sans-serif;
    color: dodgerblue;
    font-weight: bold;
    font-size: 45px;
    padding-left: 2vh;
    padding-right: 2vh;
}

#s-1-p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#s-1-p > p {
    color: white;
    text-align: center;
    margin-top: 1vh;
}

#sentence-1-p-1 {
    color: white;
    text-align: center;
    margin-top: 1vh;

}

#informations {
    color: dodgerblue;
}

#sentence-1-p-2 {
    color: white;
    text-align: center;
    margin-top: 1vh;
    padding-bottom: 1vh;
}

.image-wrapper, .background-wrapper {
    position: relative;
    background-color: black;
}

#img-1-p {
    opacity: 0.5;
    width: 100%;
}

#phoneNumber-p {
    border: 5px solid dodgerblue;
    border-radius: 100px;
    font-weight: bold;
    color: dodgerblue;
    font-size: 5vh;
    padding : 7px 25px;
    width: auto;
    display: flex;
    flex-direction: row;

    background-color: white;
}

#phoneNumber-p > p {
    margin : 0;
    padding-top: 0.5vh;
    padding-left: 0.5vh;
}

#bluep-p {
    margin-top: 0.1225em;
    margin-left: 0.1em;
    height: 6vh;
    width:  6vh;
}
#infiny-img-p {
    width: 300px;
    height: 180px;
    object-fit: cover;
    margin-top: 2vh;
    z-index: auto;
}



#headerBar-p {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    width: 100%;
}

#p1-p {
    margin-top: 0;
}