.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: dodgerblue;
    margin: 5px;
    transition: all 0.3s ease;
}

#nav-menu-s.open nav {
    display: block;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    #nav-menu-s nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #nav-menu-s nav ul {
        width: 100%;
        padding-left: 0;
    }

    #nav-menu-s nav ul li {
        display: block;
        text-align: center;
    }

    #nav-menu-s.open nav {
        display: flex;
    }
}
